body{
	padding:0;
	margin:0;
	font-family: Georgia, serif;
	background-color: #eee;
}

form, footer, section{
	width:700px;
	margin:50px auto;
	padding:50px;
	background-color: #fff;
	box-shadow: 0 0 5px #fff inset, 0 0 3px #bbb;
}

fieldset{
	border-radius:20px;
	padding:20px;
	margin-bottom:20px;
    border: 1px solid #ddd;
    /*box-shadow: 0 0 5px #fff inset, 0 0 3px #bbb;*/
}

legend{
	font-family: 'Lobster', cursive;
	font-weight:normal;
	font-size:1.5em;
	color:#8CC63F;
}

textarea{
	width:450px;
	height:150px;
	margin:0 0 10px 0;
}

label{
	color:#000;
	text-shadow:1px 1px 1px #ccc;
	font-weight:bold;
}

p{
	margin:10px 0;
	padding:0;
}

ul{
	color:#555;
	margin-bottom:50px;
}

li{
	margin:5px 0;
}

code{
	color:#000;
	font-weight:bold;
}

input[type=text], input[type=password]{
	border-radius:5px;
	padding:5px;
	border:1px solid #ccc;
	font-style:italic;
}

/*input[type="url"]:required, input[type="email"]:required{
	border:2px solid #000;
}

input[type="url"]:valid, input[type="email"]:valid{
	border:2px solid green;
}

input[type="number"]:out-of-range{
	border:1px solid red;
	color:red;
}*/